.container-img {
  position: relative;
  width: 50%;
}

.row {
  display: flex; 
  justify-content:space-around;
}

.text {
  text-align: center
}

.image {
  margin: auto;
  opacity: 1;
  display: block;
  width: 80%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 50%;
}
